In [2]:
from selenium import webdriver
import time
import re
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [8]:
link = "https://finance.naver.com/marketindex/exchangeList.nhn"
html = urlopen(link)
bsObject = BeautifulSoup(html, "lxml")
bs = bsObject.select("td.tit>a")

country_index = []

for bs2 in bs:
    country_index.append(bs2.get("href")[-6:])
    
print(country_index)

['USDKRW', 'EURKRW', 'JPYKRW', 'CNYKRW', 'HKDKRW', 'TWDKRW', 'GBPKRW', 'OMRKRW', 'CADKRW', 'CHFKRW', 'SEKKRW', 'AUDKRW', 'NZDKRW', 'CZKKRW', 'CLPKRW', 'TRYKRW', 'MNTKRW', 'ILSKRW', 'DKKKRW', 'NOKKRW', 'SARKRW', 'KWDKRW', 'BHDKRW', 'AEDKRW', 'JODKRW', 'EGPKRW', 'THBKRW', 'SGDKRW', 'MYRKRW', 'IDRKRW', 'QARKRW', 'KZTKRW', 'BNDKRW', 'INRKRW', 'PKRKRW', 'BDTKRW', 'PHPKRW', 'MXNKRW', 'BRLKRW', 'VNDKRW', 'ZARKRW', 'RUBKRW', 'HUFKRW', 'PLNKRW']

In [4]:
len(country_index)

44

In [8]:
exchange_daily_link = "https://finance.naver.com//marketindex/exchangeDailyQuote.nhn??marketindexCd=FX_"  
link_lst = []
for country_link in country_index:
    link = exchange_daily_link + country_link
    link_lst.append(link)
for i in range(len(link_lst)):
    if i > 5: break
    print(link_lst[i])

https://finance.naver.com//marketindex/exchangeDailyQuote.nhn??marketindexCd=FX_USDKRW
https://finance.naver.com//marketindex/exchangeDailyQuote.nhn??marketindexCd=FX_EURKRW
https://finance.naver.com//marketindex/exchangeDailyQuote.nhn??marketindexCd=FX_JPYKRW
https://finance.naver.com//marketindex/exchangeDailyQuote.nhn??marketindexCd=FX_CNYKRW
https://finance.naver.com//marketindex/exchangeDailyQuote.nhn??marketindexCd=FX_HKDKRW
https://finance.naver.com//marketindex/exchangeDailyQuote.nhn??marketindexCd=FX_TWDKRW

In [9]:

# USD 통화에 대해서 테스트 해보기
sample_link = link_lst[0]

page = 1
html = urlopen(sample_link + "&page=" + str(page))
bs = BeautifulSoup(html, "lxml")
bs_select =bs.select("table.tbl_exchange.today tbody tr td")

DATE = []
USDKRW = []

for i,bs_sub in enumerate(bs_select):
  
    if i%9== 0:
        date = bs_sub.get_text()
        DATE.append(date)
    if i%9 == 1:
        exchange = float(bs_sub.get_text().replace("," , ""))
        USDKRW.append(exchange)
    
df = pd.DataFrame({"USDKRW" : USDKRW } , index = DATE)
df.head(10)

            USDKRW
2021.01.29  1117.5
2021.01.28  1118.0
2021.01.27  1105.0
2021.01.26  1105.5
2021.01.25  1102.5
2021.01.22  1105.0
2021.01.21  1101.0
2021.01.20  1101.5
2021.01.19  1102.5
2021.01.18  1107.0

In [10]:
import time
start = time.time()

# USD 통화에 대해서 테스트 해보기
sample_link = link_lst[0]
page = 0
DATE = []
USDKRW = []
    
while(1):
    page += 1
    html = urlopen(sample_link + "&page=" + str(page))
    bs = BeautifulSoup(html, "lxml")
    bs_select =bs.select("table.tbl_exchange.today tbody tr td")

    # 마지막 페이지를 넘어가면 break
    if not len(bs_select): break
    
	# html-table에서 9개의 정보가 행으로 담겨져있다, 여기서 날짜/매매기준율 2가지 정보만 가져옴
    for i,bs_sub in enumerate(bs_select):
        if i%9== 0:
            date = bs_sub.get_text()
            DATE.append(date)
        if i%9 == 1:
            exchange = float(bs_sub.get_text().replace("," , ""))
            USDKRW.append(exchange)

print(" 실행 시간 : {} (초) ".format(time.time() - start))

df = pd.DataFrame({"USDKRW" : USDKRW } , index = DATE)

print("데이터 개수 : " , len(df))

 실행 시간 : 37.590388774871826 (초)
데이터 개수 :  4177

In [11]:
df.tail(10)

            USDKRW
2004.04.26  1155.0
2004.04.23  1158.3
2004.04.22  1159.7
2004.04.21  1154.8
2004.04.20  1151.4
2004.04.19  1153.6
2004.04.16  1160.1
2004.04.14  1151.3
2004.04.13  1141.1
2004.04.12  1141.8

In [28]:

def get_country_daily_exchange(country):
    
    page = 0
    exchange_daily_link = "https://finance.naver.com//marketindex/exchangeDailyQuote.nhn??marketindexCd=FX_" 
    DATE = []
    EXCHANGE = []
    
    while(1):
        page += 1
        link = exchange_daily_link + country + "&page=" + str(page)
        print("링크" , link)
        html = urlopen(link)
        bs = BeautifulSoup(html, "lxml")
        bs_select =bs.select("table.tbl_exchange.today tbody tr td")

        # 마지막 페이지를 넘어가면 break
        if not len(bs_select): break

        # html-table에서 9개의 정보가 행으로 담겨져있다, 여기서 날짜/매매기준율 2가지 정보만 가져옴
        for i,bs_sub in enumerate(bs_select):
            if i%9== 0:
                date = bs_sub.get_text()
                DATE.append(date)
            if i%9 == 1:
                exchange = float(bs_sub.get_text().replace("," , ""))
                EXCHANGE.append(exchange)
    
    return DATE , EXCHANGE

In [28]:
input_country = "USD"
DATE , EXCHANGE = get_country_daily_exchange(input_country)

In [31]:
df = pd.DataFrame({input_country + "KRW" : EXCHANGE} , index = DATE)
df.tail(10)

            USDKRW
2004.04.26  1155.0
2004.04.23  1158.3
2004.04.22  1159.7
2004.04.21  1154.8
2004.04.20  1151.4
2004.04.19  1153.6
2004.04.16  1160.1
2004.04.14  1151.3
2004.04.13  1141.1
2004.04.12  1141.8

In [29]:


import time
from tqdm import tqdm

# # 모든 통화에 대해 스크래핑
def get_all_countries_daily_exchange(country_index):
     
    flag = 0
    i = 0
    for country in country_index:
        print(country)
        DATE , EXCHANGE = get_country_daily_exchange(country)
        if not flag: 
            df = pd.DataFrame({country : EXCHANGE} , index = DATE)
            flag = 1
        else:
            new_df = pd.DataFrame({country : EXCHANGE} , index = DATE)
            df = pd.merge(df , new_df , left_index = True , right_index = True , how = "outer")
        print(df)

    df.to_excel("all_countries_exchange.xlsx" , engine="openpyxl")
    print("Saving Successfully")
    return df

In [ ]:
Exchange_data = get_all_countries_daily_exchange(country_index)

USDKRW
            USDKRW
2021.01.29  1117.5
2021.01.28  1118.0
2021.01.27  1105.0
2021.01.26  1105.5
2021.01.25  1102.5
...            ...
2004.04.19  1153.6
2004.04.16  1160.1
2004.04.14  1151.3
2004.04.13  1141.1
2004.04.12  1141.8

[4177 rows x 1 columns]
EURKRW
            USDKRW  EURKRW
2021.01.29  1117.5  1117.5
2021.01.28  1118.0  1118.0
2021.01.27  1105.0  1105.0
2021.01.26  1105.5  1105.5
2021.01.25  1102.5  1102.5
...            ...     ...
2004.04.19  1153.6  1153.6
2004.04.16  1160.1  1160.1
2004.04.14  1151.3  1151.3
2004.04.13  1141.1  1141.1
2004.04.12  1141.8  1141.8

[4177 rows x 2 columns]
JPYKRW

In [17]:
df = pd.read_excel("all_countries_exchange.xlsx" , engine="openpyxl" )
df.head(10)

,Unnamed: 0,USDKRW,EURKRW,JPYKRW,CNYKRW,HKDKRW,TWDKRW,GBPKRW,OMRKRW,CADKRW,...,PKRKRW,BDTKRW,PHPKRW,MXNKRW,BRLKRW,VNDKRW,ZARKRW,RUBKRW,HUFKRW,PLNKRW
0,2021.01.29,1117.5,1117.5,1117.5,1117.5,1117.5,1117.5,1117.5,1117.5,1117.5,...,1117.5,1117.5,1117.5,1117.5,1117.5,1117.5,1117.5,1117.5,1117.5,1117.5
1,2021.01.28,1118.0,1118.0,1118.0,1118.0,1118.0,1118.0,1118.0,1118.0,1118.0,...,1118.0,1118.0,1118.0,1118.0,1118.0,1118.0,1118.0,1118.0,1118.0,1118.0
2,2021.01.27,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,...,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0
3,2021.01.26,1105.5,1105.5,1105.5,1105.5,1105.5,1105.5,1105.5,1105.5,1105.5,...,1105.5,1105.5,1105.5,1105.5,1105.5,1105.5,1105.5,1105.5,1105.5,1105.5
4,2021.01.25,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,...,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5
5,2021.01.22,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,...,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0,1105.0
6,2021.01.21,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0,...,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0,1101.0
7,2021.01.20,1101.5,1101.5,1101.5,1101.5,1101.5,1101.5,1101.5,1101.5,1101.5,...,1101.5,1101.5,1101.5,1101.5,1101.5,1101.5,1101.5,1101.5,1101.5,1101.5
8,2021.01.19,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,...,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5,1102.5
9,2021.01.18,1107.0,1107.0,1107.0,1107.0,1107.0,1107.0,1107.0,1107.0,1107.0,...,1107.0,1107.0,1107.0,1107.0,1107.0,1107.0,1107.0,1107.0,1107.0,1107.0

In [54]:


df = pd.DataFrame({"name" : [1,2,3] } , index = [1,2,3])
df2 = pd.DataFrame({"name2" : [4,5,3] } , index = [1,5,3])

df3 = pd.merge(df , df2 , left_index = True , right_index = True , how = "outer")
df3

   name  name2
1   1.0    4.0
2   2.0    NaN
3   3.0    3.0
5   NaN    5.0

In [ ]:
import time
start = time.time()
from tqdm.notebook import tqdm

country_index
link_lst

# 한 국가에 대해서 테스트 중인데 상당히 오래걸린다 , 아마 Selenium을 써야할 듯하다

df = pd.DataFrame( [] , columns=country_index)

# 전체 국가에 대해서
date_index = []
for i,link in tqdm(enumerate(link_lst)):
    country_exchange = []
    
    page = 1
    maxpage = 2
    
    if i > 8:
        break
        
    # 한 나라에 대해서
    while(True):
        html = urlopen(link + "&page=" + str(page))
        bs = BeautifulSoup(html, "html.parser")
        bs_select =bs.select("table.tbl_exchange.today tbody tr")
        if not len(bs_select): break

        # 페이지 스크래핑 
        for bs_sub in bs_select:
            bs_sub2 = bs_sub.select("td")
            date = bs_sub2[0].get_text()
            exchange = float(bs_sub2[1].get_text().replace("," , ""))
            if len(date_index) <= len(country_exchange):
                date_index.append(date)
            country_exchange.append(exchange)
        page += 1
  
    if len(df[country_index[0]]) == 0:
        df[country_index[i]] = country_exchange
    else:
        df[country_index[i]][0:len(country_exchange)] = country_exchange

df.index = date_index
df.to_excel("Total_exchange.xlsx")
   
    
print(" 실행 시간 : " + time.time()-start + "  초")

In [ ]:

lst = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(lst)
df.columns = ["first" , "second" , "third"]
df["second"][:2] = [4,1]

In [ ]:
lst = []
df = pd.DataFrame(lst)
df.columns = ["first" , "second" , "third"]

In [ ]:
df = pd.DataFrame( [] , columns=country_index)
lst = [1,2,3]
len(df["USDKRW"])

In [ ]:
df["EURKRW"][1:3] = [4,1]
df

In [ ]:

html = urlopen('https://finance.naver.com/item/main.nhn?code=005930')
bsObject = BeautifulSoup(html, "html.parser")

meta_data = []


bs = bsObject.select("dl.blind dd")
print(bs)
for cover in bsObject.find_all('dl' , {"class" : "blind"}):
    print(cover)
    data = []
    for cover2 in cover.find_all('dd'):
        data.append(cover2.get_text())
        print("//")
        print(cover2)
    meta_data.append(data)
print(meta_data)

In [ ]:

driver = webdriver.Chrome("./chromedriver.exe")
driver.get("https://finance.naver.com/item/sise_day.nhn?code=035720")
driver.page_source
a = driver.find_elements_by_css_selector("span.tah.p10.gray03")
b = driver.find_elements_by_css_selector("span.tah.p11")

In [ ]:
a

In [ ]:

## Time.sleep 안해도 잘되네..?? 인스타그램은 사진이라 그런가

driver = webdriver.Chrome("./chromedriver.exe")

prices = []
date = []

for page in range(1,11):
    url = "https://finance.naver.com/item/sise_day.nhn?code=035720" + "&page=" + str(page)
    driver.get(url)
    date_sel = driver.find_elements_by_css_selector("span.tah.p10.gray03")
    price_sel= driver.find_elements_by_css_selector("span.tah.p11")
    for d in date_sel:
        date.append(d.text)

    for i,p in enumerate(price_sel):
        if i% 6 == 0:
            prices.append(int(p.text.replace(",","")))
            
df = pd.DataFrame({"price (종가)" : prices})
df.index = date
plt.plot(df["price (종가)"].values)

In [ ]:
import matplotlib.pyplot as plt
plt.plot(df["price (종가)"].values)
df["price (종가)"]

In [ ]:
plt.plot(df["price (종가)"].values[0:10])

In [ ]:
from matplotlib import font_manager , rc
import platform

# matplot 에서 한글 폰트 사용
if platform.system() == "Windows":
    path =  "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font' , family =  font_name)

xticks = []
for i in range(len(df)):
    num_divide = 10
    if i%10 == 0:
        xticks.append(df.index[i])
plt.xticks(xticks)

# 좀 더 그럴듯하게 그려보기
plt.figure(figsize=(12,4))
plt.plot(df.index , df["price (종가)"])
plt.title("주식 가격 그래프")
plt.xlabel("기준 년월")
plt.ylabel("주식 가격 (종가 기준)")

plt.show()

In [ ]:


def get_stock_prices(code_number):

    driver = webdriver.Chrome("./chromedriver.exe")
    url = "https://finance.naver.com/item/main.nhn?code=" + code_number
    driver.get(url)
    if driver.find_elements_by_css_selector("div.error_content"):
        print("잘못된 코드번호 입니다")
        return
    
    stock_name = driver.find_element_by_css_selector("div.wrap_company a").text
    print("코드 종목 : {} / 코드 번호 : {}".format(stock_name , code_number))
    
    
    # 스크래핑
    page = 0
    prices = []
    date = []
    pv_date = ""
    while(1):
        page += 1
        url = "https://finance.naver.com/item/sise_day.nhn?code=" + code_number + "&page=" + str(page)
        driver.get(url)
        date_sel = driver.find_elements_by_css_selector("span.tah.p10.gray03")
        price_sel= driver.find_elements_by_css_selector("span.tah.p11")

        now_date = date_sel[0].text
        if pv_date == now_date: break
        else:
            pv_date = now_date
        for d in date_sel:
            date.append(d.text)

        for i,p in enumerate(price_sel):
            if i% 6 == 0:
                prices.append(int(p.text.replace(",","")))
    prices.reverse()
    df = pd.DataFrame({"price(종가)" : prices})
    df.index = date
    save_name = stock_name + " stock price.xlsx"
    df.to_excel(save_name , engine="openpyxl")
    print("Succesful Saving")            
    return


get_stock_prices("035720")

In [ ]:
code_number = "005930"
driver = webdriver.Chrome("./chromedriver.exe")
url = "https://finance.naver.com/item/sise_day.nhn?code=035720&page=1000"
driver.get(url)

page = 500
prices = []
date = []

pv_date = ""
while(1):
    page += 1
    url = "https://finance.naver.com/item/sise_day.nhn?code=" + code_number + "&page=" + str(page)
    driver.get(url)
    date_sel = driver.find_elements_by_css_selector("span.tah.p10.gray03")
    price_sel= driver.find_elements_by_css_selector("span.tah.p11")
    
    now_date = date_sel[0].text
    if pv_date == now_date: break
    else:
        pv_date = now_date
    for d in date_sel:
        date.append(d.text)

    for i,p in enumerate(price_sel):
        if i% 6 == 0:
            prices.append(int(p.text.replace(",","")))
            

df = pd.DataFrame({"price(종가)" : prices})
df.index = date

df

In [ ]:
a = [1,3,5]
a.reverse()
a

In [ ]:
    prices = []
    date = []

    for page in range(1,11):
        url = "https://finance.naver.com/item/sise_day.nhn?code=035720" + "&page=" + str(page)
        driver.get(url)
        date_sel = driver.find_elements_by_css_selector("span.tah.p10.gray03")
        price_sel= driver.find_elements_by_css_selector("span.tah.p11")
        for d in date_sel:
            date.append(d.text)

        for i,p in enumerate(price_sel):
            if i% 6 == 0:
                prices.append(int(p.text.replace(",","")))
            
df = pd.DataFrame({"price (종가)" : prices})
df.index = date
plt.plot(df["price (종가)"].values)

In [ ]:
df.index
len(df)

In [ ]:
html = urlopen('https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_USDKRW')
bsObject = BeautifulSoup(html, "lxml")
print(bsObject)

In [ ]:
bs = bsObject.select("table")
bs

In [ ]:
bs1

In [ ]:
def get_stock_prices(code_number):

    driver = webdriver.Chrome("./chromedriver.exe")
    url = "https://finance.naver.com/item/main.nhn?code=" + code_number
    driver.get(url)
    if driver.find_elements_by_css_selector("div.error_content"):
        print("잘못된 코드번호 입니다")
        return
    
    stock_name = driver.find_element_by_css_selector("div.wrap_company a").text
    print("코드 종목 : {} / 코드 번호 : {}".format(stock_name , code_number))

In [ ]:
get_stock_prices("000000")

In [ ]:
get_stock_prices("005930")

In [ ]:

# 파일 경로를 입력받아 그래프 출력/저장
def draw_graph(savefile = ""):
    
    # 로드
    df = pd.read_xlsx(savefile)
    
    # matplot 에서 한글 폰트 사용
    if platform.system() == "Windows":
        path =  "c:/Windows/Fonts/malgun.ttf"
        font_name = font_manager.FontProperties(fname=path).get_name()
        rc('font' , family =  font_name)

    xticks = []
    for i in range(len(df)):
        num_divide = 10
        if i%10 == 0:
            xticks.append(df.index[i])
    plt.xticks(xticks)

    # 좀 더 그럴듯하게 그려보기
    plt.figure(figsize=(12,4))
    plt.plot(df.index , df["price (종가)"])
    plt.title("주식 가격 그래프")
    plt.xlabel("기준 년월")
    plt.ylabel("주식 가격 (종가 기준)")

    plt.show()
    plt.savefile(".png")

In [ ]:

df = pd.read_xlsx(savefile)
df[-1]